*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#menu{
    width: 100%;
    height: 5vh;
    background-color: transparent;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
    
}

header{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-image: url(../images/Fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header > h1{
    color: white;
}

main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{

}

