*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* construccion del las bases */

body {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: 30vh;
    background-color: white;
    text-align: center;
}

main{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer{
    width: 100%;
    height: 20vh;
    background-color: black;
}


/* targets de personajes */

#container{
    display: flex;
    flex-direction: row;
    background-color: rgb(117, 110, 110);
    width: 600px;
    height: 250px;
    border-radius: 10px 10px 10px 10px ;
    box-shadow: 0 4px 20px rgba(202, 198, 198, 0.5);
    gap: 20px;
}

.order{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#img-container{
    height: 100%;
    width: 35%;
    border-radius: 10px 0 0 10px;

}

#name-container{
    color: white;
    font-size: 30px;
}

#statu-container{
    color: white;
    font-size: 25px;
}

#especie-container{
    color: white;
    font-size: 25px;
}



